@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

html {
	scroll-behavior: smooth;
}

/* CSS class for Mac-like scrollbar */
.scrollbar {
    overflow: auto;
}

/* Mac-like scrollbar for WebKit browsers (Chrome, Safari) */
.scrollbar::-webkit-scrollbar {
    width: 12px;
}

.scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* For Firefox */
.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

/* For Internet Explorer, Edge */
.scrollbar {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

